$colors: (
  "first": #a873ff,
  "second": #a26ef5,
  "highlight": #8057c2,
  "light": #d0b9f7,
  "white": #fff,
  "dark": #635875,
  "error": #c70d0d,
  "success": #3ba355,
  "bgerror": #e24135,
  "bgsuccess": #7de798,
);
$fontsizes: (
  "small0": 0.8rem,
  "small1": 0.9rem,
  "small2": 1rem,
  "small3": 1.2rem,
  "normal": 1.4rem,
  "default": 1.6rem,
  "medium": 2rem,
  "medium1": 2.4rem,
  "large": 3.6rem,
);
$font1: Lato, sans-serif;
$font2: "Spectral", Georgia;
$fontfamilies: (
  "first": $font1,
  "second": $font2,
);

@mixin bgcolor($color) {
  background-color: map-get($colors, $color);
}
@mixin bordercolor($color) {
  border-color: map-get($colors, $color);
}
@mixin textcolor($color) {
  color: map-get($colors, $color);
}

@mixin fontsize($size) {
  font-size: map-get($fontsizes, $size);
}
@mixin fontfamily($family) {
  font-family: map-get($fontfamilies, $family);
}

@mixin border($size, $color, $corner: "", $style: solid) {
  border#{$corner}: $size $style map-get($colors, $color);
}
