$colors: (
  "first": #a873ff,
  "second": #a26ef5,
  "highlight": #8057c2,
  "light": #d0b9f7,
  "white": #fff,
  "dark": #635875,
  "error": #c70d0d,
  "warning": #d68206,
  "info": #2679bd,
  "success": #3ba355,
  "bgerror": #e24135,
  "bgwarning": #f7e43c,
  "bginfo": #5aa4e0,
  "bgsuccess": #7de798,
);
$fontsizes: (
  "small0": 0.8rem,
  "small1": 0.9rem,
  "small2": 1rem,
  "small3": 1.2rem,
  "normal": 1.4rem,
  "default": 1.6rem,
  "medium": 2rem,
  "medium1": 2.4rem,
  "large": 3.6rem,
);
$font1: Lato, sans-serif;
$font2: "Spectral", Georgia;
$fontfamilies: (
  "first": $font1,
  "second": $font2,
);

$container_width: (
  "smartphone": 100%,
  "tablet": 40rem,
  "desktop": 60rem,
);

$breakpoints: (
  "smartphone": 30rem,
  "tablet": 50rem,
  "desktop": 80rem,
);
$shadow_default: 0 0 4px 4px rgba(map-get($colors, "second"), 0.25);
$shadow_bottom: 0 6px 4px 0 rgba(map-get($colors, "second"), 0.25);
$center: 0 auto;
$gutter: 32px;
$section_margin: 30px;
$title_margin: 20px;
$micro_space: 5px;
$smaller_space: 7px;
$small_space: 10px;
$medium_space: 15px;

@mixin bgcolor($color) {
  background-color: map-get($colors, $color);
}
@mixin bordercolor($color) {
  border-color: map-get($colors, $color);
}
@mixin textcolor($color) {
  color: map-get($colors, $color);
}

@mixin fontsize($size) {
  font-size: map-get($fontsizes, $size);
}
@mixin fontfamily($family) {
  font-family: map-get($fontfamilies, $family);
}

@mixin container_width($size) {
  max-width: map-get($container_width, $size);
}

@mixin square($size) {
  width: $size;
  height: $size;
}
@mixin circle($size) {
  @include square($size);
  border-radius: 50%;
}
@mixin border($size, $color, $corner: "", $style: solid) {
  border#{$corner}: $size $style map-get($colors, $color);
}
@mixin bordered_photo($photo_size, $border_size, $border_color) {
  @include circle($photo_size);
  border: $border_size solid $border_color;
}

@mixin center-horizontal {
  display: flex;
  justify-content: center;
}
@mixin center-vertical {
  display: flex;
  align-items: center;
}

@mixin center-fixed($parent_width) {
  left: 50%;
  margin-left: -(map-get($container_width, $parent_width) / 2);
}
